<ul class="card-text font-weight-light list-group list-group-flush">
  <ul class="card-text font-weight-light list-group list-group-flush">
  <li class="list-group-item">
    Please check the <a href="/talks/">talks tab</a> for the latest updates.
  </li>
  </ul>
</ul>
